<div class="whitebox"><input type="text" id="led" value="0" readonly="readonly" /></div>
<div class="row">
	<div class="number whitebox">7</div>
	<div class="number whitebox">8</div>
	<div class="number whitebox">9</div>
	<div class="number whitebox">/</div>
	<div class="number whitebox">4</div>
	<div class="number whitebox">5</div>
	<div class="number whitebox">6</div>
	<div class="number whitebox">*</div>
	<div class="number whitebox">1</div>
	<div class="number whitebox">2</div>
	<div class="number whitebox">3</div>
	<div class="number whitebox">-</div>
	<div class="number whitebox">C</div>
	<div class="number whitebox">0</div>
	<div class="number whitebox">=</div>
	<div class="number whitebox">+</div>
</div>
